@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
  --Orange: hsl(25, 97%, 53%)
}
body, html{
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}
#backDrop{
  width: 100vw;
  height: 100vh;
  background-color: var(--VeryDarkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal{
  background-color: var(--DarkBlue);
  border-radius: 5%;
  width: 25%;
  height: 50%;
  padding: 2%;
}

#modalDecor{
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--LightGrey);
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Orange);
  font-size: 20px;
}

#modal h1{
  color: var(--White);
}

#modal p{
  color: var(--LightGrey);
  line-height: 25px;
}

#modalRating{
  display: flex;
  justify-content: space-evenly;
}

.rating{
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--LightGrey);
  display: flex;
  align-items: center;
  justify-content: center;
}